<div class="text-center">
    <h1 class="display-4">Тестируем AJAX запрос на .NET Core</h1>
    <p id="result_text"></p>
    <a class="btn btn-info btn-sm" onclick="Test(3);">Выполнить запрос на 3 элемента</a>
    </br>
    <a class="btn btn-info btn-sm" onclick="Test(10);">Выполнить запрос на 10 элементов</a>
    </br>
    <a class="btn btn-info btn-sm" onclick="Test(0);">Выполнить запрос на 0 элементов</a>
    </br>
</div>   
